h1{
    color:violet;
    padding-top: 0%;
    
}
body { 
--color-primary:#9d80b8;
--color-primary-dark:#007f67;
--colour-secondary:#252c6a;
--colour-error:#cc3333;
--colour-success:#4bb544;
--border-radius:4px;
margin:0;
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
font-size: 18px;
background :url(./tech.jpeg);
background-size: cover;
}
.container{
    width: 400px;
    max-width: 400px;
    margin:1rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background:#ffffff;
}


.form>*:first-child{
    margin-top:0;
}
.form>*:last-child{
    margin-bottom: 0;
}
.form__message{
    text-align: center;
    margin-bottom: 1rem;
}
.form__message__success{
    color:var(--colour-success);
}
.form__message__error{
    color:var(--colour-error);
}
.form__input{
    display:block;
    width:100%;
    padding:0.75rem;
    border-radius: var(--border-radius);
    border: 1px solid#ddd;
    outline:none;
    background: #4f1c6d;
    

}
.form__input:focus{
    border-color: var(--color-primary);
    background:#ffffff;
}
.form__input-error{
    color:var(--colour-error);
    border-color: var(--colour-error);
}
.form__button{
    width: 100%;
    PADDING:1REM 2REM;
  font-weight: bold;
  font-size: 1.1rem;
  color:aliceblue;
  border:none;
  outline:none;
  cursor: pointer;
  background: var(--color-primary);
}
.form__button:hover{
    background: var(--color-primary-dark);
}
.form__button:active{
    transform:scale(0.98);
}
.form__text{
    text-align: center;
}
.form__link{
    color:var(--colour-secondary);
    text-decoration: none;
cursor:pointer;
}
.form__link:hover{
    text-decoration: underline;
}